docs/** linguist-documentation
site/** linguist-documentation
*.html linguist-documentation
*.js linguist-documentation
*.css linguist-documentation
*.scss linguist-documentation
*.go linguist-vendored
Makefile linguist-vendored
