@font-face {
  font-family: Regular;
  src: url(../fonts/Regular-Semibold.woff) format("woff");
  font-weight: weight;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: AtlasGroteskRegular;
  src: url(../fonts/AtlasGrotesk-Regular-Web.woff) format("woff");
  font-weight: weight;
  font-style: normal;
  font-stretch: normal;
}


@import url('//fonts.googleapis.com/css?family=Space+Mono');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');